

import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');




body{
    font-family: 'Poppins', sans-serif !important;
    background:linear-gradient( rgba(186, 210, 223,0.9), rgba(201, 145, 201,0.2)) ;
}

h1,h2{
    text-align: center;
    margin-top: 40px !important;
}
nav{
    text-align: center;
}
nav li{
    display: inline;
    border-right:1px solid black ;
    padding-right:7px;
}
nav .different{
    border-right: none;
}

.search{
    height: auto;
    margin: 30px auto 0 auto;
    display: flex;
}

.search input{
    width:80%;
    height: 30%;
    margin-right: 10px;
    border:2px solid #555;
}

.search button{
    width:20%;
    color:#e1e1ec;
}

.search,
.book-lists {
    width: 75%;
}


.book {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
    max-width: 200px;
}

.book-lists {
    margin: auto;
    margin-top: 20px;
}




img {
    width:30%;
    height: 30%;
    border:7px solid;
  }

  .book-card{
    margin-bottom:80px;
  }

  
  

  



